.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 150px;
  overflow-x: auto;

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      margin: 0 50px;
      padding: 5px;
    }
  }
  // .table {
  //   table {
  //     border-collapse: collapse;
  //     td,
  //     th {
  //       border: 1px solid #ddd;
  //       padding: 25px;
  //     }

  //     tr:nth-child(even) {
  //       background-color: #f2f2f2;
  //     }

  //     tr:hover {
  //       background-color: #ddd;
  //     }

  //     th {
  //       padding-top: 12px;
  //       padding-bottom: 12px;
  //       text-align: left;
  //       background-color: #4caf50;
  //       color: white;
  //     }

  .btn-action {
    display: flex;
    align-items: center;
    padding: 20px;
    button {
      padding: 5px;
      margin: 0 10px;
    }
    p {
      button {
        padding: 5px;
      }
    }
  }
  //   }
  // }
}
