// .input-seminar-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
//   .input-seminar {
//     h2 {
//       text-align: center;
//     }

//     width: 400px;
//     margin: auto;
//     flex-direction: column;

//     .btn-submit {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//   }
// }

.input-seminar {
  width: 300px;
  margin: auto;
  h2 {
    text-align: center;
  }
}
